.container {
    
    background-color: lightgray; 
  
}

.bolded {
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 25, 76); 
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial,  sans-serif;
    
}




.item1{
    height: 800px;
    width: 600px;
    margin: 10px;
    padding: 80px;
    margin-right: 0px;
    margin-left: 400px;
    border: 1px solid #333;
    background-color:white;
    flex-shrink: 0;
    text-align: left;
    justify-content: space-between;
    -webkit-text-size-adjust: 100%;


}
.item2{
  min-height: 800px;
  width: 400px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}

@media screen and (max-width: 1080px) { 
    .container{
        flex-direction: row;
    }
}

.start{
    font-weight: 700;
    display: flex;
}
.headlinep {
    margin:0px;
    display: inline-flexbox;
    padding:1px;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;


    

}

.headstyle{
    position: left;
    font-size: 20;
    color: rgb(103, 154, 255);


}