.mainText {
    position: relative;
    left: 30vh;
    width: 65vh;
    border: 3px solid #73AD21;
    padding: 11vh;
    height: 60vh;
    display: flex;
    


}



.card{
  
    background: blue;
    width: 600px;
    padding: 3px;
    top: 30px;
}