
.container {
    margin-top: -972px ; 
}

.topicItem{
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    font-family: 'Times New';
}

.number{

    font-size: 30px;
    text-align: left;
    font-weight: bold;
    font-family: 'Times New';
    color: lightskyblue;
}

.bolded{
    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New';
    
}

.breed{

   
    text-align: justify;

}
.item1{
    height: 800px;
    width: 280px; 
    padding: 10px;
    margin-left: 1200px;
    border: 1px solid #333;
    background-color: white;

}