.container {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 18px;
  font-weight: 700;
}


.flexboxItem{
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}

.item2{
  min-height: 800px;
  width: 400px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
  


}
